[Desktop Entry]
Name=Applications
Comment=Default applications, startup applications, and X11 application compatibility settings.
Type=Application
Exec=wmde-settings applications
Terminal=false
Categories=WMDE
Keywords=WMDE;Default;Application;Startup;X11;Compatibility
NoDisplay=true
OnlyShowIn=WMDE
Icon=preferences-applications
StartupNotify=true
