[Desktop Entry]
Name=Date & Time
Comment=Time zone, automatic clock settings, and time formatting.
Type=Application
Exec=wmde-settings date-time
Terminal=false
Categories=WMDE
Keywords= WMDE;Time;Zone;
NoDisplay=true
OnlyShowIn=WMDE
Icon=preferences-date-and-time
StartupNotify=true
