[Desktop Entry]
Name=System & Accounts
Comment=System information, accounts, and firmware updates.
Type=Application
Exec=wmde-settings system
Terminal=false
Categories=WMDE
Keywords=WMDE;System;Info;Accounts;Firmware;
NoDisplay=true
OnlyShowIn=WMDE
Icon=preferences-system-and-accounts
StartupNotify=true
