[Desktop Entry]
Name=Keyboard
Comment=Input sources, switching, special character entry, shortcuts.
Type=Application
Exec=wmde-settings keyboard
Terminal=false
Categories=WMDE
Keywords=WMDE;Keyboard;Input;Source;Shortcuts;
NoDisplay=true
OnlyShowIn=WMDE
Icon=preferences-desktop-keyboard
StartupNotify=true
